
.pinktext{
  background-color: hotpink;
  font-size: 2em;
  padding: 30px;
  font-style:italic;
}


.shadowtest{
      box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}
